Boulot/Web References/webService/h21WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="inscription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_ville" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prenom" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="service" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pseudo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Comfirmpassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="question" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="indice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="adresse" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="inscriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inscriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pseudo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getQuestionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Valide_answer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="question" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="answer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Valide_answerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Valide_answerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Comfirmpassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllServices">
        <s:complexType />
      </s:element>
      <s:element name="getAllServicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllServicesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllAdresse">
        <s:complexType />
      </s:element>
      <s:element name="getAllAdresseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllAdresseResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllEmployes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_services" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllEmployesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllEmployesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllEmployesSerch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id_services" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllEmployesSerchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllEmployesSerchResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SCORE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_emp" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SCOREResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SCOREResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="review">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_emp" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="score" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reviewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reviewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="recherche">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_ville" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_service" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rechercheResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rechercheResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadGalerie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="galerieUrl" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="id_emp" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="service" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="uploadGalerieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadGalerieResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadImageGalerie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="emp_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="service_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadImageGalerieResponse">
        <s:complexType />
      </s:element>
      <s:element name="get_galerie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_employe" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_service" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_galerieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_galerieResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_emp" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_ville" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pseudo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prenom" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="service" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateProfileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setDisponibilite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="disp" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setDisponibiliteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setDisponibiliteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="emp_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadImageResponse">
        <s:complexType />
      </s:element>
      <s:element name="getAllVilles">
        <s:complexType />
      </s:element>
      <s:element name="getAllVillesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllVillesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="float" type="s:float" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="inscriptionSoapIn">
    <wsdl:part name="parameters" element="tns:inscription" />
  </wsdl:message>
  <wsdl:message name="inscriptionSoapOut">
    <wsdl:part name="parameters" element="tns:inscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="loginSoapIn">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="loginSoapOut">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="getQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:getQuestion" />
  </wsdl:message>
  <wsdl:message name="getQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:getQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="Valide_answerSoapIn">
    <wsdl:part name="parameters" element="tns:Valide_answer" />
  </wsdl:message>
  <wsdl:message name="Valide_answerSoapOut">
    <wsdl:part name="parameters" element="tns:Valide_answerResponse" />
  </wsdl:message>
  <wsdl:message name="setPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:setPassword" />
  </wsdl:message>
  <wsdl:message name="setPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:setPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="getAllServicesSoapIn">
    <wsdl:part name="parameters" element="tns:getAllServices" />
  </wsdl:message>
  <wsdl:message name="getAllServicesSoapOut">
    <wsdl:part name="parameters" element="tns:getAllServicesResponse" />
  </wsdl:message>
  <wsdl:message name="getAllAdresseSoapIn">
    <wsdl:part name="parameters" element="tns:getAllAdresse" />
  </wsdl:message>
  <wsdl:message name="getAllAdresseSoapOut">
    <wsdl:part name="parameters" element="tns:getAllAdresseResponse" />
  </wsdl:message>
  <wsdl:message name="getAllEmployesSoapIn">
    <wsdl:part name="parameters" element="tns:getAllEmployes" />
  </wsdl:message>
  <wsdl:message name="getAllEmployesSoapOut">
    <wsdl:part name="parameters" element="tns:getAllEmployesResponse" />
  </wsdl:message>
  <wsdl:message name="getAllEmployesSerchSoapIn">
    <wsdl:part name="parameters" element="tns:getAllEmployesSerch" />
  </wsdl:message>
  <wsdl:message name="getAllEmployesSerchSoapOut">
    <wsdl:part name="parameters" element="tns:getAllEmployesSerchResponse" />
  </wsdl:message>
  <wsdl:message name="SCORESoapIn">
    <wsdl:part name="parameters" element="tns:SCORE" />
  </wsdl:message>
  <wsdl:message name="SCORESoapOut">
    <wsdl:part name="parameters" element="tns:SCOREResponse" />
  </wsdl:message>
  <wsdl:message name="reviewSoapIn">
    <wsdl:part name="parameters" element="tns:review" />
  </wsdl:message>
  <wsdl:message name="reviewSoapOut">
    <wsdl:part name="parameters" element="tns:reviewResponse" />
  </wsdl:message>
  <wsdl:message name="rechercheSoapIn">
    <wsdl:part name="parameters" element="tns:recherche" />
  </wsdl:message>
  <wsdl:message name="rechercheSoapOut">
    <wsdl:part name="parameters" element="tns:rechercheResponse" />
  </wsdl:message>
  <wsdl:message name="uploadGalerieSoapIn">
    <wsdl:part name="parameters" element="tns:uploadGalerie" />
  </wsdl:message>
  <wsdl:message name="uploadGalerieSoapOut">
    <wsdl:part name="parameters" element="tns:uploadGalerieResponse" />
  </wsdl:message>
  <wsdl:message name="uploadImageGalerieSoapIn">
    <wsdl:part name="parameters" element="tns:uploadImageGalerie" />
  </wsdl:message>
  <wsdl:message name="uploadImageGalerieSoapOut">
    <wsdl:part name="parameters" element="tns:uploadImageGalerieResponse" />
  </wsdl:message>
  <wsdl:message name="get_galerieSoapIn">
    <wsdl:part name="parameters" element="tns:get_galerie" />
  </wsdl:message>
  <wsdl:message name="get_galerieSoapOut">
    <wsdl:part name="parameters" element="tns:get_galerieResponse" />
  </wsdl:message>
  <wsdl:message name="updateProfileSoapIn">
    <wsdl:part name="parameters" element="tns:updateProfile" />
  </wsdl:message>
  <wsdl:message name="updateProfileSoapOut">
    <wsdl:part name="parameters" element="tns:updateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="setDisponibiliteSoapIn">
    <wsdl:part name="parameters" element="tns:setDisponibilite" />
  </wsdl:message>
  <wsdl:message name="setDisponibiliteSoapOut">
    <wsdl:part name="parameters" element="tns:setDisponibiliteResponse" />
  </wsdl:message>
  <wsdl:message name="uploadImageSoapIn">
    <wsdl:part name="parameters" element="tns:uploadImage" />
  </wsdl:message>
  <wsdl:message name="uploadImageSoapOut">
    <wsdl:part name="parameters" element="tns:uploadImageResponse" />
  </wsdl:message>
  <wsdl:message name="getAllVillesSoapIn">
    <wsdl:part name="parameters" element="tns:getAllVilles" />
  </wsdl:message>
  <wsdl:message name="getAllVillesSoapOut">
    <wsdl:part name="parameters" element="tns:getAllVillesResponse" />
  </wsdl:message>
  <wsdl:message name="inscriptionHttpGetIn">
    <wsdl:part name="id_ville" type="s:string" />
    <wsdl:part name="nom" type="s:string" />
    <wsdl:part name="prenom" type="s:string" />
    <wsdl:part name="service" type="s:string" />
    <wsdl:part name="tel" type="s:string" />
    <wsdl:part name="pseudo" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="Comfirmpassword" type="s:string" />
    <wsdl:part name="question" type="s:string" />
    <wsdl:part name="indice" type="s:string" />
    <wsdl:part name="adresse" type="s:string" />
  </wsdl:message>
  <wsdl:message name="inscriptionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="loginHttpGetIn">
    <wsdl:part name="pseudo" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="loginHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="getQuestionHttpGetIn">
    <wsdl:part name="tel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getQuestionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Valide_answerHttpGetIn">
    <wsdl:part name="tel" type="s:string" />
    <wsdl:part name="question" type="s:string" />
    <wsdl:part name="answer" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Valide_answerHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="setPasswordHttpGetIn">
    <wsdl:part name="tel" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="Comfirmpassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setPasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllServicesHttpGetIn" />
  <wsdl:message name="getAllServicesHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="getAllAdresseHttpGetIn" />
  <wsdl:message name="getAllAdresseHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="getAllEmployesHttpGetIn">
    <wsdl:part name="id_services" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllEmployesHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="getAllEmployesSerchHttpGetIn">
    <wsdl:part name="nom" type="s:string" />
    <wsdl:part name="id_services" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllEmployesSerchHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="SCOREHttpGetIn">
    <wsdl:part name="id_emp" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SCOREHttpGetOut">
    <wsdl:part name="Body" element="tns:float" />
  </wsdl:message>
  <wsdl:message name="reviewHttpGetIn">
    <wsdl:part name="id_emp" type="s:string" />
    <wsdl:part name="mail" type="s:string" />
    <wsdl:part name="score" type="s:string" />
  </wsdl:message>
  <wsdl:message name="reviewHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="rechercheHttpGetIn">
    <wsdl:part name="id_ville" type="s:string" />
    <wsdl:part name="id_service" type="s:string" />
  </wsdl:message>
  <wsdl:message name="rechercheHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="uploadGalerieHttpGetIn">
    <wsdl:part name="galerieUrl" type="s1:StringArray" />
    <wsdl:part name="id_emp" type="s:string" />
    <wsdl:part name="service" type="s:string" />
  </wsdl:message>
  <wsdl:message name="uploadGalerieHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="uploadImageGalerieHttpGetIn">
    <wsdl:part name="source" type="s:string" />
    <wsdl:part name="emp_id" type="s:string" />
    <wsdl:part name="service_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="uploadImageGalerieHttpGetOut" />
  <wsdl:message name="get_galerieHttpGetIn">
    <wsdl:part name="id_employe" type="s:string" />
    <wsdl:part name="id_service" type="s:string" />
  </wsdl:message>
  <wsdl:message name="get_galerieHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="updateProfileHttpGetIn">
    <wsdl:part name="id_emp" type="s:string" />
    <wsdl:part name="id_ville" type="s:string" />
    <wsdl:part name="nom" type="s:string" />
    <wsdl:part name="pseudo" type="s:string" />
    <wsdl:part name="prenom" type="s:string" />
    <wsdl:part name="service" type="s:string" />
    <wsdl:part name="tel" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="updateProfileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="setDisponibiliteHttpGetIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="disp" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setDisponibiliteHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="uploadImageHttpGetIn">
    <wsdl:part name="source" type="s:string" />
    <wsdl:part name="emp_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="uploadImageHttpGetOut" />
  <wsdl:message name="getAllVillesHttpGetIn" />
  <wsdl:message name="getAllVillesHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="inscriptionHttpPostIn">
    <wsdl:part name="id_ville" type="s:string" />
    <wsdl:part name="nom" type="s:string" />
    <wsdl:part name="prenom" type="s:string" />
    <wsdl:part name="service" type="s:string" />
    <wsdl:part name="tel" type="s:string" />
    <wsdl:part name="pseudo" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="Comfirmpassword" type="s:string" />
    <wsdl:part name="question" type="s:string" />
    <wsdl:part name="indice" type="s:string" />
    <wsdl:part name="adresse" type="s:string" />
  </wsdl:message>
  <wsdl:message name="inscriptionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="loginHttpPostIn">
    <wsdl:part name="pseudo" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="loginHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="getQuestionHttpPostIn">
    <wsdl:part name="tel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getQuestionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Valide_answerHttpPostIn">
    <wsdl:part name="tel" type="s:string" />
    <wsdl:part name="question" type="s:string" />
    <wsdl:part name="answer" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Valide_answerHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="setPasswordHttpPostIn">
    <wsdl:part name="tel" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="Comfirmpassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setPasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAllServicesHttpPostIn" />
  <wsdl:message name="getAllServicesHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="getAllAdresseHttpPostIn" />
  <wsdl:message name="getAllAdresseHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="getAllEmployesHttpPostIn">
    <wsdl:part name="id_services" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllEmployesHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="getAllEmployesSerchHttpPostIn">
    <wsdl:part name="nom" type="s:string" />
    <wsdl:part name="id_services" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllEmployesSerchHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="SCOREHttpPostIn">
    <wsdl:part name="id_emp" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SCOREHttpPostOut">
    <wsdl:part name="Body" element="tns:float" />
  </wsdl:message>
  <wsdl:message name="reviewHttpPostIn">
    <wsdl:part name="id_emp" type="s:string" />
    <wsdl:part name="mail" type="s:string" />
    <wsdl:part name="score" type="s:string" />
  </wsdl:message>
  <wsdl:message name="reviewHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="rechercheHttpPostIn">
    <wsdl:part name="id_ville" type="s:string" />
    <wsdl:part name="id_service" type="s:string" />
  </wsdl:message>
  <wsdl:message name="rechercheHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="uploadGalerieHttpPostIn">
    <wsdl:part name="galerieUrl" type="s1:StringArray" />
    <wsdl:part name="id_emp" type="s:string" />
    <wsdl:part name="service" type="s:string" />
  </wsdl:message>
  <wsdl:message name="uploadGalerieHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="uploadImageGalerieHttpPostIn">
    <wsdl:part name="source" type="s:string" />
    <wsdl:part name="emp_id" type="s:string" />
    <wsdl:part name="service_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="uploadImageGalerieHttpPostOut" />
  <wsdl:message name="get_galerieHttpPostIn">
    <wsdl:part name="id_employe" type="s:string" />
    <wsdl:part name="id_service" type="s:string" />
  </wsdl:message>
  <wsdl:message name="get_galerieHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="updateProfileHttpPostIn">
    <wsdl:part name="id_emp" type="s:string" />
    <wsdl:part name="id_ville" type="s:string" />
    <wsdl:part name="nom" type="s:string" />
    <wsdl:part name="pseudo" type="s:string" />
    <wsdl:part name="prenom" type="s:string" />
    <wsdl:part name="service" type="s:string" />
    <wsdl:part name="tel" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="updateProfileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="setDisponibiliteHttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="disp" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setDisponibiliteHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="uploadImageHttpPostIn">
    <wsdl:part name="source" type="s:string" />
    <wsdl:part name="emp_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="uploadImageHttpPostOut" />
  <wsdl:message name="getAllVillesHttpPostIn" />
  <wsdl:message name="getAllVillesHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:portType name="h21WebService1Soap">
    <wsdl:operation name="inscription">
      <wsdl:input message="tns:inscriptionSoapIn" />
      <wsdl:output message="tns:inscriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginSoapIn" />
      <wsdl:output message="tns:loginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getQuestion">
      <wsdl:input message="tns:getQuestionSoapIn" />
      <wsdl:output message="tns:getQuestionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Valide_answer">
      <wsdl:input message="tns:Valide_answerSoapIn" />
      <wsdl:output message="tns:Valide_answerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setPassword">
      <wsdl:input message="tns:setPasswordSoapIn" />
      <wsdl:output message="tns:setPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllServices">
      <wsdl:input message="tns:getAllServicesSoapIn" />
      <wsdl:output message="tns:getAllServicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllAdresse">
      <wsdl:input message="tns:getAllAdresseSoapIn" />
      <wsdl:output message="tns:getAllAdresseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllEmployes">
      <wsdl:input message="tns:getAllEmployesSoapIn" />
      <wsdl:output message="tns:getAllEmployesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllEmployesSerch">
      <wsdl:input message="tns:getAllEmployesSerchSoapIn" />
      <wsdl:output message="tns:getAllEmployesSerchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SCORE">
      <wsdl:input message="tns:SCORESoapIn" />
      <wsdl:output message="tns:SCORESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="review">
      <wsdl:input message="tns:reviewSoapIn" />
      <wsdl:output message="tns:reviewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="recherche">
      <wsdl:input message="tns:rechercheSoapIn" />
      <wsdl:output message="tns:rechercheSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="uploadGalerie">
      <wsdl:input message="tns:uploadGalerieSoapIn" />
      <wsdl:output message="tns:uploadGalerieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="uploadPict">
      <wsdl:input name="uploadImageGalerie" message="tns:uploadImageGalerieSoapIn" />
      <wsdl:output name="uploadImageGalerie" message="tns:uploadImageGalerieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_galerie">
      <wsdl:input message="tns:get_galerieSoapIn" />
      <wsdl:output message="tns:get_galerieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateProfile">
      <wsdl:input message="tns:updateProfileSoapIn" />
      <wsdl:output message="tns:updateProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setDisponibilite">
      <wsdl:input message="tns:setDisponibiliteSoapIn" />
      <wsdl:output message="tns:setDisponibiliteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="uploadImage">
      <wsdl:input message="tns:uploadImageSoapIn" />
      <wsdl:output message="tns:uploadImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllVilles">
      <wsdl:input message="tns:getAllVillesSoapIn" />
      <wsdl:output message="tns:getAllVillesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="h21WebService1HttpGet">
    <wsdl:operation name="inscription">
      <wsdl:input message="tns:inscriptionHttpGetIn" />
      <wsdl:output message="tns:inscriptionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginHttpGetIn" />
      <wsdl:output message="tns:loginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getQuestion">
      <wsdl:input message="tns:getQuestionHttpGetIn" />
      <wsdl:output message="tns:getQuestionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Valide_answer">
      <wsdl:input message="tns:Valide_answerHttpGetIn" />
      <wsdl:output message="tns:Valide_answerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="setPassword">
      <wsdl:input message="tns:setPasswordHttpGetIn" />
      <wsdl:output message="tns:setPasswordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllServices">
      <wsdl:input message="tns:getAllServicesHttpGetIn" />
      <wsdl:output message="tns:getAllServicesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllAdresse">
      <wsdl:input message="tns:getAllAdresseHttpGetIn" />
      <wsdl:output message="tns:getAllAdresseHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllEmployes">
      <wsdl:input message="tns:getAllEmployesHttpGetIn" />
      <wsdl:output message="tns:getAllEmployesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllEmployesSerch">
      <wsdl:input message="tns:getAllEmployesSerchHttpGetIn" />
      <wsdl:output message="tns:getAllEmployesSerchHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SCORE">
      <wsdl:input message="tns:SCOREHttpGetIn" />
      <wsdl:output message="tns:SCOREHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="review">
      <wsdl:input message="tns:reviewHttpGetIn" />
      <wsdl:output message="tns:reviewHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="recherche">
      <wsdl:input message="tns:rechercheHttpGetIn" />
      <wsdl:output message="tns:rechercheHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="uploadGalerie">
      <wsdl:input message="tns:uploadGalerieHttpGetIn" />
      <wsdl:output message="tns:uploadGalerieHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="uploadPict">
      <wsdl:input name="uploadImageGalerie" message="tns:uploadImageGalerieHttpGetIn" />
      <wsdl:output name="uploadImageGalerie" message="tns:uploadImageGalerieHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="get_galerie">
      <wsdl:input message="tns:get_galerieHttpGetIn" />
      <wsdl:output message="tns:get_galerieHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="updateProfile">
      <wsdl:input message="tns:updateProfileHttpGetIn" />
      <wsdl:output message="tns:updateProfileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="setDisponibilite">
      <wsdl:input message="tns:setDisponibiliteHttpGetIn" />
      <wsdl:output message="tns:setDisponibiliteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="uploadImage">
      <wsdl:input message="tns:uploadImageHttpGetIn" />
      <wsdl:output message="tns:uploadImageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllVilles">
      <wsdl:input message="tns:getAllVillesHttpGetIn" />
      <wsdl:output message="tns:getAllVillesHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="h21WebService1HttpPost">
    <wsdl:operation name="inscription">
      <wsdl:input message="tns:inscriptionHttpPostIn" />
      <wsdl:output message="tns:inscriptionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginHttpPostIn" />
      <wsdl:output message="tns:loginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getQuestion">
      <wsdl:input message="tns:getQuestionHttpPostIn" />
      <wsdl:output message="tns:getQuestionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Valide_answer">
      <wsdl:input message="tns:Valide_answerHttpPostIn" />
      <wsdl:output message="tns:Valide_answerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="setPassword">
      <wsdl:input message="tns:setPasswordHttpPostIn" />
      <wsdl:output message="tns:setPasswordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllServices">
      <wsdl:input message="tns:getAllServicesHttpPostIn" />
      <wsdl:output message="tns:getAllServicesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllAdresse">
      <wsdl:input message="tns:getAllAdresseHttpPostIn" />
      <wsdl:output message="tns:getAllAdresseHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllEmployes">
      <wsdl:input message="tns:getAllEmployesHttpPostIn" />
      <wsdl:output message="tns:getAllEmployesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllEmployesSerch">
      <wsdl:input message="tns:getAllEmployesSerchHttpPostIn" />
      <wsdl:output message="tns:getAllEmployesSerchHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SCORE">
      <wsdl:input message="tns:SCOREHttpPostIn" />
      <wsdl:output message="tns:SCOREHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="review">
      <wsdl:input message="tns:reviewHttpPostIn" />
      <wsdl:output message="tns:reviewHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="recherche">
      <wsdl:input message="tns:rechercheHttpPostIn" />
      <wsdl:output message="tns:rechercheHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="uploadGalerie">
      <wsdl:input message="tns:uploadGalerieHttpPostIn" />
      <wsdl:output message="tns:uploadGalerieHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="uploadPict">
      <wsdl:input name="uploadImageGalerie" message="tns:uploadImageGalerieHttpPostIn" />
      <wsdl:output name="uploadImageGalerie" message="tns:uploadImageGalerieHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="get_galerie">
      <wsdl:input message="tns:get_galerieHttpPostIn" />
      <wsdl:output message="tns:get_galerieHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="updateProfile">
      <wsdl:input message="tns:updateProfileHttpPostIn" />
      <wsdl:output message="tns:updateProfileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="setDisponibilite">
      <wsdl:input message="tns:setDisponibiliteHttpPostIn" />
      <wsdl:output message="tns:setDisponibiliteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="uploadImage">
      <wsdl:input message="tns:uploadImageHttpPostIn" />
      <wsdl:output message="tns:uploadImageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllVilles">
      <wsdl:input message="tns:getAllVillesHttpPostIn" />
      <wsdl:output message="tns:getAllVillesHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="h21WebService1Soap" type="tns:h21WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="inscription">
      <soap:operation soapAction="http://tempuri.org/inscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuestion">
      <soap:operation soapAction="http://tempuri.org/getQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Valide_answer">
      <soap:operation soapAction="http://tempuri.org/Valide_answer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPassword">
      <soap:operation soapAction="http://tempuri.org/setPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllServices">
      <soap:operation soapAction="http://tempuri.org/getAllServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAdresse">
      <soap:operation soapAction="http://tempuri.org/getAllAdresse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmployes">
      <soap:operation soapAction="http://tempuri.org/getAllEmployes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmployesSerch">
      <soap:operation soapAction="http://tempuri.org/getAllEmployesSerch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SCORE">
      <soap:operation soapAction="http://tempuri.org/SCORE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="review">
      <soap:operation soapAction="http://tempuri.org/review" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recherche">
      <soap:operation soapAction="http://tempuri.org/recherche" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadGalerie">
      <soap:operation soapAction="http://tempuri.org/uploadGalerie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadPict">
      <soap:operation soapAction="http://tempuri.org/uploadImageGalerie" style="document" />
      <wsdl:input name="uploadImageGalerie">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="uploadImageGalerie">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_galerie">
      <soap:operation soapAction="http://tempuri.org/get_galerie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProfile">
      <soap:operation soapAction="http://tempuri.org/updateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setDisponibilite">
      <soap:operation soapAction="http://tempuri.org/setDisponibilite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadImage">
      <soap:operation soapAction="http://tempuri.org/uploadImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllVilles">
      <soap:operation soapAction="http://tempuri.org/getAllVilles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="h21WebService1Soap12" type="tns:h21WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="inscription">
      <soap12:operation soapAction="http://tempuri.org/inscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuestion">
      <soap12:operation soapAction="http://tempuri.org/getQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Valide_answer">
      <soap12:operation soapAction="http://tempuri.org/Valide_answer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPassword">
      <soap12:operation soapAction="http://tempuri.org/setPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllServices">
      <soap12:operation soapAction="http://tempuri.org/getAllServices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAdresse">
      <soap12:operation soapAction="http://tempuri.org/getAllAdresse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmployes">
      <soap12:operation soapAction="http://tempuri.org/getAllEmployes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmployesSerch">
      <soap12:operation soapAction="http://tempuri.org/getAllEmployesSerch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SCORE">
      <soap12:operation soapAction="http://tempuri.org/SCORE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="review">
      <soap12:operation soapAction="http://tempuri.org/review" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recherche">
      <soap12:operation soapAction="http://tempuri.org/recherche" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadGalerie">
      <soap12:operation soapAction="http://tempuri.org/uploadGalerie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadPict">
      <soap12:operation soapAction="http://tempuri.org/uploadImageGalerie" style="document" />
      <wsdl:input name="uploadImageGalerie">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="uploadImageGalerie">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_galerie">
      <soap12:operation soapAction="http://tempuri.org/get_galerie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProfile">
      <soap12:operation soapAction="http://tempuri.org/updateProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setDisponibilite">
      <soap12:operation soapAction="http://tempuri.org/setDisponibilite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadImage">
      <soap12:operation soapAction="http://tempuri.org/uploadImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllVilles">
      <soap12:operation soapAction="http://tempuri.org/getAllVilles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="h21WebService1HttpGet" type="tns:h21WebService1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="inscription">
      <http:operation location="/inscription" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <http:operation location="/login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuestion">
      <http:operation location="/getQuestion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Valide_answer">
      <http:operation location="/Valide_answer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPassword">
      <http:operation location="/setPassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllServices">
      <http:operation location="/getAllServices" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAdresse">
      <http:operation location="/getAllAdresse" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmployes">
      <http:operation location="/getAllEmployes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmployesSerch">
      <http:operation location="/getAllEmployesSerch" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SCORE">
      <http:operation location="/SCORE" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="review">
      <http:operation location="/review" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recherche">
      <http:operation location="/recherche" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadGalerie">
      <http:operation location="/uploadGalerie" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadPict">
      <http:operation location="/uploadImageGalerie" />
      <wsdl:input name="uploadImageGalerie">
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output name="uploadImageGalerie" />
    </wsdl:operation>
    <wsdl:operation name="get_galerie">
      <http:operation location="/get_galerie" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProfile">
      <http:operation location="/updateProfile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setDisponibilite">
      <http:operation location="/setDisponibilite" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadImage">
      <http:operation location="/uploadImage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="getAllVilles">
      <http:operation location="/getAllVilles" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="h21WebService1HttpPost" type="tns:h21WebService1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="inscription">
      <http:operation location="/inscription" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <http:operation location="/login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuestion">
      <http:operation location="/getQuestion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Valide_answer">
      <http:operation location="/Valide_answer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPassword">
      <http:operation location="/setPassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllServices">
      <http:operation location="/getAllServices" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAdresse">
      <http:operation location="/getAllAdresse" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmployes">
      <http:operation location="/getAllEmployes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmployesSerch">
      <http:operation location="/getAllEmployesSerch" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SCORE">
      <http:operation location="/SCORE" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="review">
      <http:operation location="/review" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recherche">
      <http:operation location="/recherche" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadGalerie">
      <http:operation location="/uploadGalerie" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadPict">
      <http:operation location="/uploadImageGalerie" />
      <wsdl:input name="uploadImageGalerie">
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output name="uploadImageGalerie" />
    </wsdl:operation>
    <wsdl:operation name="get_galerie">
      <http:operation location="/get_galerie" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProfile">
      <http:operation location="/updateProfile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setDisponibilite">
      <http:operation location="/setDisponibilite" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadImage">
      <http:operation location="/uploadImage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="getAllVilles">
      <http:operation location="/getAllVilles" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="h21WebService1">
    <wsdl:port name="h21WebService1Soap" binding="tns:h21WebService1Soap">
      <soap:address location="http://siiraaj1-001-site1.itempurl.com/h21WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="h21WebService1Soap12" binding="tns:h21WebService1Soap12">
      <soap12:address location="http://siiraaj1-001-site1.itempurl.com/h21WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="h21WebService1HttpGet" binding="tns:h21WebService1HttpGet">
      <http:address location="http://siiraaj1-001-site1.itempurl.com/h21WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="h21WebService1HttpPost" binding="tns:h21WebService1HttpPost">
      <http:address location="http://siiraaj1-001-site1.itempurl.com/h21WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>